/* background image is a color gradient */
body {
    background-color: #D5D5D5;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin-top: 14vh;
}

/*************************************************
 ******** MOBILE FIRST: ALL MAIN STYLES **********
 *************************************************/

 /*----------- login & register styles -----------*/

 .login-text, .register-text {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
 }

 .login-container, .register-container {
   /*max-width: 35%;*/
   min-width: 25%;
   min-height: 35%;
   background-color: #fff;
   border-radius: .5rem;
   padding-right: 2rem;
   padding-left: 2rem;
 }

 .login-text, .register-text, .survey-text {
   color: #444;
   text-align: center;
 }

 .login-text > h1, .register-text > h1 {
     font-size: 1.7em;
 }
 .login-text > h3, .register-text > h3 {
     font-size: 1.3em;
 }

 .login-form input, .register-form input {
     width: 65%;
     height: 2rem;
     border: 1px solid rgb(197,200,204);
     display: block;
     margin: 0 auto;
     border: 1px solid rgb(197,200,204);
     margin-bottom: .5rem;
     padding-left: 15px;
 }

 .login-btn {
     background-color: #286090;
     color: #fff;
     width: 71%;
     height: 2rem;
     border: none;
     display: block;
     margin: 0 auto;
 }

 .register-btn {
     background-color: #286090;
     color: #fff;
     width: 71%;
     height: 2rem;
     border: none;
     display: block;
     margin: 0 auto;
     margin-bottom: 2rem;
 }

 .login-links {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .login-links span {
    text-decoration: none;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #E37222;
    font-size: 0.9rem;
    font-weight: 700;
 }

 /*----------- surveypage styles -----------*/

 .survey-text {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
 }

 .survey-container {
   max-width: 35%;
   min-height: 35%;
   background-color: #fff;
   border-radius: .5rem;
   padding-right: 2rem;
   padding-left: 2rem;
 }

 /*----------- piechart styles -----------*/

 canvas#surveyChart {
     min-height: 70vh;
     min-width: 25%;
 }

button.return-dash {
    text-align: -webkit-center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #286090;
    color: #fff;
    width: 35%;
    height: 2rem;
    border: none;
}
.survey-btns {
    text-align: -webkit-center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.survey-btns button {
  background-color: #286090;
  color: #fff;
  width: 35%;
  height: 2rem;
  border: none;
}

  /*----------- dashboard styles -----------*/
 /* Parent selector and styles */
 .row {
 	display: flex;
 	flex-direction: row;
  border-bottom: solid 1px grey;
 }
 /* Child to Parent selector and styles */
 .col {
 	flex: 1;
 	padding: .6em;
 }
 /* column styling */
 .col {
 	background-color: #fff;
 	color: grey;
 	font-family: helvetica, Sans-Serif;
 	text-align: center;
 }

 .set-btns-vert {
 	margin-top: 6%;
 }

 .set-btns-vert button {
   background-color: #286090;
   color: #fff;
   width: 35%;
   height: 2rem;
   border: none;
 }

 button.view-survey {
    margin-right: 1rem;
}

.header {
    background-color: black;
    color: #E37222;
    display: flex;
   	flex-direction: row;
}

.header-item {
  flex: 1;
  padding: .6em;
  margin-right: 2rem;
}
h1.header-item {
  font-size: 1.3rem !important;
  margin-left: 2rem;
}

/*----------- newSurvey styles -----------*/

.new-survey-container {
  width: 35%;
  min-height: 35%;
  background-color: #fff;
  border-radius: .5rem;
  padding-right: 3rem;
  padding-left: 1rem;
}

.survey-form input {
    width: 65%;
    height: 2rem;
    border: 1px solid rgb(197,200,204);
    margin: 0 auto;
    border: 1px solid rgb(197,200,204);
    margin-bottom: .5rem;
    padding-left: 15px;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  /*margin: 0 auto;*/
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  border: 1px solid rgb(197,200,204);
  padding: 15px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #286090;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.srvyfrm-return-btn {
    position: absolute;
    left: 49%;
}

 /* TABLET BREAKPOINT */

 /* LAPTOP / DESKTOP */

 /*  SUPER BIG SCREENS */

/* TABET & DESKTOP VIEWS */
@media screen and (max-width: 750px)  {

/*-------- Homepage --------*/

.login-container {
  max-width: 74%;
  min-height: 50vh;
  background-color: #fff;
  border-radius: .5rem;
}
